# MINE
real_70000_ffhq/
real_69747_ffhq_chips/

generated_70000_sg2/
generated_70000_sg2_chips/

insightface/deploy/models/
.ipynb_checkpoints/
fr/.ipynb_checkpoints/
*.pkl

# Byte-compiled / optimized / DLL files
insightface/__pycache__/
insightface/*.py[cod]
insightface/*$py.class

# C extensions
insightface/*.so

# Distribution / packaging
insightface/.Python
insightface/env/
insightface/build/
insightface/develop-eggs/
insightface/dist/
insightface/downloads/
insightface/eggs/
insightface/.eggs/
insightface/lib/
insightface/lib64/
insightface/parts/
insightface/sdist/
insightface/var/
insightface/wheels/
insightface/*.egg-info/
insightface/.installed.cfg
insightface/*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
insightface/*.manifest
insightface/*.spec

# Installer logs
insightface/pip-log.txt
insightface/pip-delete-this-directory.txt

# Unit test / coverage reports
insightface/htmlcov/
insightface/.tox/
insightface/.coverage
insightface/.coverage.*
insightface/.cache
insightface/nosetests.xml
insightface/coverage.xml
insightface/*.cover
insightface/.hypothesis/

# Translations
insightface/*.mo
insightface/*.pot

# Django stuff:
insightface/*.log
insightface/local_settings.py

# Flask stuff:
insightface/instance/
insightface/.webassets-cache

# Scrapy stuff:
insightface/.scrapy

# Sphinx documentation
insightface/docs/_build/

# PyBuilder
insightface/target/

# Jupyter Notebook
insightface/.ipynb_checkpoints

# pyenv
insightface/.python-version

# celery beat schedule file
insightface/celerybeat-schedule

# SageMath parsed files
insightface/*.sage.py

# dotenv
insightface/.env

# virtualenv
insightface/.venv
insightface/venv/
insightface/ENV/

# Spyder project settings
insightface/.spyderproject
insightface/.spyproject

# Rope project settings
insightface/.ropeproject

# mkdocs documentation
insightface/site

# mypy
insightface/.mypy_cache/
